<div class="container-fluid div1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMCQ71iDaNhn8zaA2IrApHXS2cbRYrEqE8UQ&usqp=CAU"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">KidZzzania</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a routerLink="./kids" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuLdJdfNjREMC_X6OVv9gB-tbfr5iDgKIJ6w&usqp=CAU"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fashionista FeLeads</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a routerLink="./women" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNzle9AjWqJgQybzbgdd-QMRiSLQq2YBDo0Q&usqp=CAU"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Men's Fashion</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a routerLink="./men" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin: 20px;" >
    <img src="https://img.paisawapas.com/ovz3vew9pw/2021/07/25095456/Online-Shopping--1.png" class="img-fluid" style="max-width: 100%;" alt="Responsive image">
</div>

<div class="testimonial-slider">
    <div class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials </h2>
                <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.6435-9/207352195_2978775865709362_8686063611707331925_n.jpg?_nc_cat=102&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=77UAI4KuCkkAX8Lgk6O&_nc_ht=scontent.fdel24-1.fna&oh=c17c2c62bc583deb17c9b3f66f0ecdc1&oe=6135FAEB">
                        <h5 class="name">Ben Johnson</h5>
                        <p class="title">CEO of Company Inc.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.6435-9/56403802_2127301034058281_1559340769335050240_n.jpg?_nc_cat=101&ccb=1-4&_nc_sid=09cbfe&_nc_ohc=cGqCkq9rV3kAX_T7oco&_nc_ht=scontent.fdel24-1.fna&oh=fa92daf16a155ffd669d9c2d5ef61c8a&oe=6135D201">
                        <h5 class="name">Carl Kent</h5>
                        <p class="title">Founder of Style Co.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.6435-9/74237618_2347467008696585_8006715223325016064_n.jpg?_nc_cat=101&ccb=1-4&_nc_sid=174925&_nc_ohc=P3fO0Fh-w9MAX-oTFqc&_nc_ht=scontent.fdel24-1.fna&oh=d3593e56c05c46df144715b7bb32e246&oe=61362F85">
                        <h5 class="name">Manish Balodi</h5>
                        <p class="title">Owner of Creative Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
